* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.navbar {
    width: 1440px;
    height: 106px;
    background: #081E76;
}

.mail {
    padding-left: 12px;
    padding-top: 31px;
}